# Data directory
/data/

# IDE
.vscode/
.idea/
*.swp
*.swo
node_modules/
*/node_modules/
package-lock.json
.claude

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/target

# Environment
.env
oidc.toml

# AI
CLAUDE.md